runs/**/*.log filter=lfs diff=lfs merge=lfs -text
runs/**/*.pane filter=lfs diff=lfs merge=lfs -text
runs/**/*.cast filter=lfs diff=lfs merge=lfs -text
runs/**/*.json filter=lfs diff=lfs merge=lfs -text
runs/**/*.txt filter=lfs diff=lfs merge=lfs -text
